.cat_menu_container{
	display: none;
}
img.count-down-image {
    width: 100%;
}
.banner-slider .owl-stage-outer.owl-height {
    height: 450px!important;
}
img.mains-slider{
	height: 450px;
}
.brand-section {
    padding: 50px 0;
}
.brand-heading {
    padding: 35px 0px;
}
.brand-section span[aria-label=Previous] {
    position: absolute;
    top: -80px;
    font-size: 35px;
    margin-left: -50px;
    color: #7b8284;
}
.brand-section span[aria-label=Next] {
    position: absolute;
    top: -80px;
    font-size: 35px;
    margin-left: 50px;
    color: #7b8284;
}
.icon-slider-section { 
    background-image: linear-gradient(-90deg, #4c9add,  #54c7ed);
}
.icon-slider-section {
    padding: 70px 0px;
}
.icon-heading-section {
	text-align: center;	
	color: #fff;
}
.icon-heading-section {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}
.icon-slider-section .owl-item{
	height: 100px;
    width: 100px;
}
.icon-slider-section .owl-item img {
    box-shadow: none;
    border: none;
    background: transparent;
    background-color: transparent;
    height: 100px;
    width: 100px;
    
}
.icon-slider {
     background:none; 
}
.icon-slider-section .owl-item:hover {
    border: 2px solid #fff;
    border-radius: 54%;
    height: 100px;
    width: 100px;
}
.icon-slider-section .owl-item {
    width: 100px !important;
    height: 100px !important;
    margin: 0px 50px;
}
img.owl-lazy.icon-slider{
	width: 100px !important;
	height: 100px !important;
}
.owl-slider.icon-slider {
    padding: 0px 90px;
}
.icon-slider-section span[aria-label=Previous] {
    position: absolute;
    top: -130px;
    font-size: 35px;
    margin-left: -50px;
    color: #fff;
}
.icon-slider-section span[aria-label=Next] {
    position: absolute;
    top: -130px;
    font-size: 35px;
    margin-left: 50px;
    color: #fff;
}
.countdown-section {
    background-image: url(../slider-image/offers_jpg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 576px;
}
.countdown-section span {
    font-size: 20px;
}
.countdown-section-heading {
    padding: 40px 0px;
}
.offer-block h3 {
    font-weight: 600;
    font-size: 25px;
    color: #787a82;
}
.help-text {
    font-size: 12px;
}
.deal-text {
    font-size: 12px;
    color: red;
    margin-top: 90px;
    margin-bottom: 15px;
}
.countdown-clock {
    background-color: white;
    width: 220px;
    height: 115px;
    margin: 0 auto;
}
.countdown-text {
    color: red;
    padding: 25px;
    font-size: 30px;
}
.countdown-button {
    position: absolute;
    bottom: -10px;
    padding: 5px 10px;
    border: none;
    background-color: #4fa9e2;
    color: #fff;
    right: 60px;
}
.product-heading {
    text-align: center;
    background: linear-gradient(45deg,#ffe57c,#efefef)!important;
    color: white;
    font-size: 30px;
    margin-left: 0px !important;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px 45px;
    -moz-box-shadow: inset 0 0 3px #00000061;
    -webkit-box-shadow: inset 0 0 3px #00000061;
    box-shadow: inset 0 0 3px #00000061;
}
.product-slider-section {
    margin-top: 60px;
}
.product-heading img {
    width: 35px;
    position: absolute;
    left: 70px;
}

.slider-arrow span[aria-label=Previous] {
    position: absolute;
    top: -339px;
    font-size: 27px;
    margin-left: -50px;
    color: #fff;
    background-color: #4ea8e2;
    width: 31px;
    padding: 1px 0px;
    height: 48px;
}
.slider-arrow span[aria-label=Next] {
    position: absolute;
    top: -339px;
    font-size: 27px;
    margin-left: -50px;
    color: #fff;
    background-color: #4ea8e2;
    width: 31px;
    padding: 1px 0px;
    height: 48px;
}
a span.product-heading-all {
    position: absolute;
    right: 200px;
    font-size: 14px;
    bottom: -8px;
    background-color: #4ea8e2;
    padding: 14px 25px;
    color: #fff;
}
.product-main-block {
    width: 100%;
}
.product-block {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.product-image-section {
    width: 45%;
    float: left;
    padding: 15px;
}
.product-description-section {
    width: 55%;
    float: right;
    border-left: 1px solid #e2e2e2;
    padding: 8px;
}
.product-description-section p {
    font-size: 14px;
}
.product-main-block {
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.product-price-block {
    padding: 10px 15px;
}
.product-slider .owl-stage-outer.owl-height {
    height: 180px !important;
}
.product-description-section span {
    font-size: 12px;
}

/*Button Add Quantity*/


.number-input input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
    border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input button.minus {
/*padding-left: 10px;*/
}


.number-input.number-input input[type=number] {
    max-width: 28px;
    padding: .5rem;
    border: 1px solid #ced4da;
    font-size: 14px;
    height: 28px;
    color: #495057;
}
span.cart-quantity {
    position: absolute;
    top: 5px;
    left: 14px;
    font-size: 14px;
    background-color: #4abdde;
    color: #fff;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 2px 8px;
    border-radius: 20px;
}
.hide-cart{
    display: none;
}
.show-cart{
    display: block;
}
/*.cart-quantity {
    float: none;
}*/
.cart-heading{
    text-align: -webkit-center;
}
.cart-content{
    text-align: center;
}

.cart-content .layout-inline > * {
    display: inline-flex;       
    float: none; 
}
.cart-update-quantity {
    margin-top: 30px;
}
.checkout-pages input.quantity {
    margin-bottom: 2px !important;
    padding: 0px !important;
}
.update-button{
    float: right;
}
.head-profile-img {
    height: 40px;
    width: 40px;
}
.head-profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
ul.user-menu li {
    padding: 0px 15px;
    width: 100px;
    height: 40px;
}
ul.user-menu li a{
    line-height: 35px;
}
.custom-success-alert {    
    width: 350px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 99;
    font-size: 16px;
    padding: 10px 18px;
    transition: opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;
    background-color: rgba(38,185,154,0.88);
    color: #fff;
}
.custom-success-alert p {
    padding: 20px 0px;
    color: #fff;
}
.custom-error-alert{    
    width: 350px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 0px;
    z-index: 99;
    font-size: 16px;
    padding: 10px 18px;
    transition: opacity .4s linear,left .5s ease,top .5s ease,right .5s ease,bottom .5s ease;
    background-color: rgba(243, 86, 86, 0.88);
    color: #fff;
}
span.custom-remove {
    float: right;
    color: #fff;
    cursor: pointer;
}
#edit_user_details textarea {
    font-size: 14px;
}
span.input-error-message {
    font-size: 12px;
    color: red; 
}
button.btn.btn-primary.submit_button.btn-disable {
    background: gray;
    box-shadow: none;
    pointer-events: none;
}
/*.main_nav_menu {
    width: 100%;
}*/
.main_nav_dropdown li {
    padding: 0px 21px;    
}
.standard_dropdown li a:hover {
    color: #0e8ce4;
    text-decoration: none;
}
p a{
    border-bottom: none;
}
.main-product-name a:hover{    
    text-decoration: none;
}
.tab-content{
    min-height: 220px;
}
.profile-text{
    padding: 3px !important;
}
.questions-body {
    border-top: none !important;
    padding: 5px 30px !important;
}
.panel-questions {
    padding: 0 !important;
    margin: 10px 0px !important;
    border: 1px solid #D2C8C8;
    border-top: 1px solid #d2c8c8 !important;
}
.panel-questions.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: #eff3f1;
    padding: 5px;
    border: 1px solid #d6d1d1;
    border-radius: 24px;
    font-weight: lighter;
    font-size: 11px;
}
.panel-questions.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 5px;
    border: 1px solid #d6d1d1;
    border-radius: 24px;
    font-weight: lighter;
    font-size: 11px;
    background-color: #eff3f1;

}
.panel-title {
    margin-bottom: 5px;
}
.shape.product-page-shape{
    width: 115px;
}
button.product_comment_button:focus {
    outline: none;
}
button.product_comment_button:hover {
    font-size: 19px;     
}
.all-section a{
    z-index: 999;
}
.col.menu-column {
    padding: 0px 10px ;
    margin-top: 10px;
}
p.slider-text {
    position: absolute;
    top: 85px;
    z-index: 999;
    font-size: 34px;
    left: 60px;
    color: #fff;
}
p.slider-sub-text{
    position: absolute;
    top: 150px;
    z-index: 999;
    font-size: 25px;
    left: 60px;
    color: #fff;
}
p.slider-paragraph{
    position: absolute;
    top: 250px;
    z-index: 999;
    font-size: 15px;
    left: 60px;
    color: #fff;
}
button.btn-default.slider-buy-now {
    padding: 13px 25px;
    position: absolute;
    top: 330px;
    z-index: 999;
    left: 60px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
}
button.btn-default.slider-buy-now:hover {
    padding: 13px 25px;
    position: absolute;
    top: 330px;
    z-index: 999;
    left: 60px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
}
.brand-section img.owl-lazy{
    width: 200px;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
margin-top: -.3rem;
}
}
}
/*Add Quantity End*/
.add-quantity {
    float: right;
}
.add-quantity button.plus {
    background-color: #636363;
    height: 28px;
    width: 28px;
    border-radius: 0px 15px 15px 0px;
}
.add-quantity button.minus {
    background-color: #636363;
    height: 28px;
    width: 28px;
    border-radius: 15px 0px 0px 15px;
}
.number-input.number-input button:before, .number-input.number-input button:after {
    width: 1.2rem;
    background-color: #f9f9f9;
}
.add-quantity button:focus {    
    outline: none;
}
.add-quantity input:focus {    
    outline: none;
}
button.btn-default.add-cart-button {
    padding: 5px 25px;
    background-color: #e6fbf0b8;
    color: #4ea8e2; 
    border: none;
    border-radius: 20px;
    float: right;
    font-size: 12px;
}
.product-price-block span {
    font-size: 20px;
    font-weight: 600;
}
.product-heading-h4 {
    padding-left: 100px;
    font-size: 25px;
    color: #636363;
}
.shape {
    height: 120px;
    width: 120px;
    background-color: #fd1d1df5;
    border-radius: 80px;
    margin-bottom: 30px;    
    transform: rotate(-63deg);
    clip-path: polygon(0% 75%, 0% -48%, 50% 50%);
    position: absolute;
    color: #fff;
    left: 23%;
    top: -65px;
}

span.offer-text {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 35px;
    left: 15px;
    transform: rotate(64deg);
    font-weight: 500;
}
span.off-text {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 54px;
    left: 7px;
    transform: rotate(64deg);
    font-weight: 500;
}
.show-button{
    display: block;
}
.hide-button{
    display: none;
}
button.btn-default.add-cart-button:focus {
    padding: 5px 15px;
    background-color: #ffffff;
    color: #7fc9e4;
    border: 2px solid #7fc9e4;
    border-radius: 20px;
    float: right;
    outline: none;
}
.owl-stage {
    height: auto !important;
}
.owl-slider.product-slider {
    height: 220px;
}
.row.product-heading.winter-heading {
    background-image: url(../img/bg_winter.png) !important;
    background-repeat: no-repeat !important;    
    background-color: #c8f1ecb8 !important;
}
.row.product-heading.trending-heading {
    background-image: url(../img/bg_trending.png) !important;
    background-repeat: no-repeat !important;    
    background-color: #c8f1ecb8 !important;
}
.row.product-heading.health-heading {
    background-image: url(../img/bg_health_fitness.png) !important;
    background-repeat: no-repeat !important;    
    background-color: #c8f1ecb8 !important;
}
/*Filter Sidebar  Accordian*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  border-bottom: 1px solid #eee;
}

.nav li a {
  font-size: 14px;
}

#accordionMenu {
  max-width: 300px;
}

.panel-body {
  padding: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
        content: "";
    position: absolute;
    top: 14px;
    /* margin-left: 7px; */
    right: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    /* font-weight: 200; */
    font-size: 14px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\e113";
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\e114";
}
/*End*/
label.flt-checkbox-label {
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}
.category-filter a p {
    font-size: 14px;
    text-transform: capitalize;
    padding-left: 13px;
}
.category-filter a p:hover {
    border-left: 2px solid #4abdde;
    color: #4abdde;
    padding-left: 11px;

}
.panel-body.category-filter {
    max-height: 300px;
    overflow: scroll;
        border: none !important;
}
.category-panel {
    padding: 0 !important;
    padding-right: 10px !important;
}
input:focus {
    outline: none 
}

/*input {
    width: calc(100% - 2px);
    margin-left: 1px;
    padding-bottom: 2px;
}*/

input[type=text] {
    border: 0;
    cursor: text;
}

.underline {
    background-color: #ebebeb;
    transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s;
    z-index: 0;
    height: 3px;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 15px;
}

input:focus ~ .underline {
    background-color: #4EA6EA;
}
.category-filter input[type="text"] {
    font-size: 14px;
    margin-top: 10px;
}
.custom-search {
    font-size: 14px;
    position: absolute;
    top: 4px;
    right: 0px;
}
.category-filter-radio {
    font-size: 14px;
    text-transform: capitalize;    
    padding-left: 15px;
}
.panel-body.category-filter-radio {
    max-height: 300px;
    overflow: scroll;
    border: none !important;
}
.seacrh-section {
    margin: 10px 0;
}
.product-name { 
    text-align: center;
    font-size: 14px;
}
.product-box {    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 3px 9px -2px rgba(66, 62, 62, 0.58);
}
p.product-description {
    font-size: 10px;
    color: #2ba6ca;
}

button.btn-default.add-cart-button-category {
    padding: 5px 15px;
    background-color: #fff;
    color: #4ea8e2; 
    border: none;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    font-weight: 600;
    right: 7px;
    border: 1px solid;    
}
button.btn-default.add-cart-button-category:focus {
    padding: 5px 15px;
    background-color: #ffffff;
    color: #12afe8;
    border: 1px solid #7fc9e4;
    border-radius: 20px;
    font-weight: 600;
    outline: none;
}

.product-price-category p {
    margin-bottom: 0;
}
span.offer-price-text {
    font-size: 11px;
    font-weight: 500;
    color: #50ce5f;
}
p.product-sell-price {
    font-size: 17px;
    font-weight: 600;
}
p.main-product-name {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}
.add-quantity-category {
    float: right;
    bottom: 32px;
}
.product-box img {
    width: 120px;
}
.product-box{
    padding: 10px;
    margin-bottom: 25px;
}
.product-box img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row.product-section {
    margin-top: 30px;
}
.category-paginations a{
    background: #4abdde;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;"
}
.category-pagination {
    float: left;
}
.right-pagination-section{
    float: right;
}
.category-pagination a {
    padding: 10px 15px;
    background-color: #fff;
    margin-right: -4px;
    font-size: 14px;
    border: 1px solid #dadada;
    color: #655e5e;
}
.category-pagination a:hover, .category-pagination a:active, .category-pagination a:focus {
    text-decoration: none;
}
.category-pagination .firt_short {
    border-radius: 25px 0px 0px 25px;
}
.category-pagination .last_short {
    border-radius: 0px 25px 25px 0px;
}
.category-pagination .active {
    background-color: #4abdde;
    color: #fff;
}
.left-pagination-section {
    margin-top: 10px;
}
.alternate-slider-arrow span[aria-label=Previous] {
    position: absolute;
    top: -331px;
    font-size: 35px;
    margin-left: -50px;
    color: #fff;
    background-color: #4ea8e2;
    width: 31px;
    padding: 0px;
    height: 41px;
    line-height: 0.8;
    border-radius: 2px;
}
.alternate-slider-arrow span[aria-label=Next] {
    position: absolute;
    top: -331px;
    font-size: 35px;
    margin-left: -50px;
    color: #fff;
    background-color: #4ea8e2;
    width: 31px;
    padding: 0px;
    height: 41px;
    line-height: 0.8;
    border-radius: 2px;   
}
.owl-slider-alternate {
    margin-top: 40px;
}
.alternate-product span.product-heading-all {
    padding: 10px 20px;
    border-radius: 2px;
    right: 125px;
}
.faq-accordine .panel-body {
    font-size: 14px;
}

.owl-carousel .owl-dots {
    display: none;
}
